.glitch {
    background: #000 no-repeat center;
    background-size: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.glitch::before,
.glitch::after,
.glitch .channel {
    background: inherit;
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.glitch::before {
    animation: glitch-before 3s linear infinite alternate both;
    content: '';
}
@keyframes glitch-before {
    0% {
        -webkit-clip-path: polygon(
            0% 8.3000675546%,
            100% 8.3000675546%,
            100% 15.1889270268%,
            0% 15.1889270268%
        );
        clip-path: polygon(
            0% 8.3000675546%,
            100% 8.3000675546%,
            100% 15.1889270268%,
            0% 15.1889270268%
        );
        transform: translate(4.7205705316%, -0.3511641873%);
    }
    2% {
        -webkit-clip-path: polygon(
            0% 48.2868582518%,
            100% 48.2868582518%,
            100% 57.4278703911%,
            0% 57.4278703911%
        );
        clip-path: polygon(
            0% 48.2868582518%,
            100% 48.2868582518%,
            100% 57.4278703911%,
            0% 57.4278703911%
        );
        transform: translate(-1.4754867057%, -0.3891846446%);
    }
    4% {
        -webkit-clip-path: polygon(
            0% 8.3891385939%,
            100% 8.3891385939%,
            100% 16.3015343431%,
            0% 16.3015343431%
        );
        clip-path: polygon(
            0% 8.3891385939%,
            100% 8.3891385939%,
            100% 16.3015343431%,
            0% 16.3015343431%
        );
        transform: translate(5.0337105079%, 0.2711744092%);
    }
    6% {
        -webkit-clip-path: polygon(
            0% 58.1929996034%,
            100% 58.1929996034%,
            100% 59.4343409073%,
            0% 59.4343409073%
        );
        clip-path: polygon(
            0% 58.1929996034%,
            100% 58.1929996034%,
            100% 59.4343409073%,
            0% 59.4343409073%
        );
        transform: translate(5.5497541097%, -0.1130944802%);
    }
    8% {
        -webkit-clip-path: polygon(
            0% 74.1373451909%,
            100% 74.1373451909%,
            100% 79.960109587%,
            0% 79.960109587%
        );
        clip-path: polygon(
            0% 74.1373451909%,
            100% 74.1373451909%,
            100% 79.960109587%,
            0% 79.960109587%
        );
        transform: translate(-4.7054206172%, 0.0830813837%);
    }
    10% {
        -webkit-clip-path: polygon(
            0% 4.2995990629%,
            100% 4.2995990629%,
            100% 13.6227956099%,
            0% 13.6227956099%
        );
        clip-path: polygon(
            0% 4.2995990629%,
            100% 4.2995990629%,
            100% 13.6227956099%,
            0% 13.6227956099%
        );
        transform: translate(3.4711729813%, -0.3874373101%);
    }
    12% {
        -webkit-clip-path: polygon(
            0% 56.9857625093%,
            100% 56.9857625093%,
            100% 64.0135016483%,
            0% 64.0135016483%
        );
        clip-path: polygon(
            0% 56.9857625093%,
            100% 56.9857625093%,
            100% 64.0135016483%,
            0% 64.0135016483%
        );
        transform: translate(3.6287492769%, 0.0504693527%);
    }
    14% {
        -webkit-clip-path: polygon(
            0% 25.1095688241%,
            100% 25.1095688241%,
            100% 31.9406080001%,
            0% 31.9406080001%
        );
        clip-path: polygon(
            0% 25.1095688241%,
            100% 25.1095688241%,
            100% 31.9406080001%,
            0% 31.9406080001%
        );
        transform: translate(-3.0393148815%, -0.317160515%);
    }
    16% {
        -webkit-clip-path: polygon(
            0% 72.7513756393%,
            100% 72.7513756393%,
            100% 80.9840790394%,
            0% 80.9840790394%
        );
        clip-path: polygon(
            0% 72.7513756393%,
            100% 72.7513756393%,
            100% 80.9840790394%,
            0% 80.9840790394%
        );
        transform: translate(-4.126372824%, 0.4720901291%);
    }
    18% {
        -webkit-clip-path: polygon(
            0% 88.7526679222%,
            100% 88.7526679222%,
            100% 97.3449736338%,
            0% 97.3449736338%
        );
        clip-path: polygon(
            0% 88.7526679222%,
            100% 88.7526679222%,
            100% 97.3449736338%,
            0% 97.3449736338%
        );
        transform: translate(-2.0804949612%, -0.310642633%);
    }
    20%,
    100% {
        -webkit-clip-path: none;
        clip-path: none;
        transform: none;
    }
}
.glitch::after {
    animation: glitch-after 3s linear infinite alternate both;
    content: '';
}
@keyframes glitch-after {
    0% {
        -webkit-clip-path: polygon(
            0% 39.0713585666%,
            100% 39.0713585666%,
            100% 41.9729068675%,
            0% 41.9729068675%
        );
        clip-path: polygon(
            0% 39.0713585666%,
            100% 39.0713585666%,
            100% 41.9729068675%,
            0% 41.9729068675%
        );
        transform: translate(6.8521837338%, 0.4016423511%);
    }
    2% {
        -webkit-clip-path: polygon(
            0% 50.6885963228%,
            100% 50.6885963228%,
            100% 57.0018859581%,
            0% 57.0018859581%
        );
        clip-path: polygon(
            0% 50.6885963228%,
            100% 50.6885963228%,
            100% 57.0018859581%,
            0% 57.0018859581%
        );
        transform: translate(-2.6248983067%, -0.3193498929%);
    }
    4% {
        -webkit-clip-path: polygon(
            0% 42.0728415819%,
            100% 42.0728415819%,
            100% 51.5650679334%,
            0% 51.5650679334%
        );
        clip-path: polygon(
            0% 42.0728415819%,
            100% 42.0728415819%,
            100% 51.5650679334%,
            0% 51.5650679334%
        );
        transform: translate(-0.9454460815%, -0.017172339%);
    }
    6% {
        -webkit-clip-path: polygon(
            0% 5.9388625281%,
            100% 5.9388625281%,
            100% 12.4373362542%,
            0% 12.4373362542%
        );
        clip-path: polygon(
            0% 5.9388625281%,
            100% 5.9388625281%,
            100% 12.4373362542%,
            0% 12.4373362542%
        );
        transform: translate(-5.702831922%, 0.3086633047%);
    }
    8% {
        -webkit-clip-path: polygon(
            0% 55.0526347118%,
            100% 55.0526347118%,
            100% 59.2940639873%,
            0% 59.2940639873%
        );
        clip-path: polygon(
            0% 55.0526347118%,
            100% 55.0526347118%,
            100% 59.2940639873%,
            0% 59.2940639873%
        );
        transform: translate(-2.7797913475%, -0.2109801768%);
    }
    10% {
        -webkit-clip-path: polygon(
            0% 14.1236564748%,
            100% 14.1236564748%,
            100% 23.7464172742%,
            0% 23.7464172742%
        );
        clip-path: polygon(
            0% 14.1236564748%,
            100% 14.1236564748%,
            100% 23.7464172742%,
            0% 23.7464172742%
        );
        transform: translate(-0.3692747988%, 0.2816877697%);
    }
    12% {
        -webkit-clip-path: polygon(
            0% 78.2197425522%,
            100% 78.2197425522%,
            100% 80.4814592615%,
            0% 80.4814592615%
        );
        clip-path: polygon(
            0% 78.2197425522%,
            100% 78.2197425522%,
            100% 80.4814592615%,
            0% 80.4814592615%
        );
        transform: translate(-1.4486511551%, -0.2474012321%);
    }
    14% {
        -webkit-clip-path: polygon(
            0% 30.0211017114%,
            100% 30.0211017114%,
            100% 33.7788678658%,
            0% 33.7788678658%
        );
        clip-path: polygon(
            0% 30.0211017114%,
            100% 30.0211017114%,
            100% 33.7788678658%,
            0% 33.7788678658%
        );
        transform: translate(5.761880451%, 0.230231304%);
    }
    16% {
        -webkit-clip-path: polygon(
            0% 2.06443606%,
            100% 2.06443606%,
            100% 7.1553056241%,
            0% 7.1553056241%
        );
        clip-path: polygon(
            0% 2.06443606%,
            100% 2.06443606%,
            100% 7.1553056241%,
            0% 7.1553056241%
        );
        transform: translate(0.7758197629%, -0.3139145562%);
    }
    18% {
        -webkit-clip-path: polygon(
            0% 27.260630579%,
            100% 27.260630579%,
            100% 35.4462156162%,
            0% 35.4462156162%
        );
        clip-path: polygon(
            0% 27.260630579%,
            100% 27.260630579%,
            100% 35.4462156162%,
            0% 35.4462156162%
        );
        transform: translate(-5.9194648219%, 0.3493196016%);
    }
    20%,
    100% {
        -webkit-clip-path: none;
        clip-path: none;
        transform: none;
    }
}
.glitch .channel {
    mix-blend-mode: screen;
}
.glitch .channel::before {
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    right: 0;
    top: 0;
}
.glitch .r {
    animation: rgb-shift-r 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-r {
    0% {
        transform: translate(-1.2394505575%, 0.062603582%);
    }
    2% {
        transform: translate(1.9206277621%, -0.4325591942%);
    }
    4% {
        transform: translate(0.7771784553%, 0.4505992325%);
    }
    6% {
        transform: translate(-1.3536513229%, 0.1476907133%);
    }
    8% {
        transform: translate(-0.5673547552%, 0.249156148%);
    }
    10% {
        transform: translate(-1.7825694502%, 0.2958481878%);
    }
    12% {
        transform: translate(0.2260905657%, -0.4880677132%);
    }
    14% {
        transform: translate(0.1795625799%, 0.1569892318%);
    }
    16% {
        transform: translate(1.3369517156%, -0.0206581321%);
    }
    18% {
        transform: translate(0.0713992933%, -0.1070803876%);
    }
    20%,
    100% {
        transform: none;
    }
}
.glitch .r::before {
    background: #f00;
}
.glitch .g {
    animation: rgb-shift-g 3s steps(1, jump-end) infinite alternate both;
}
@keyframes rgb-shift-g {
    0% {
        transform: translate(-1.1134392654%, -0.3370718773%);
    }
    2% {
        transform: translate(-1.1596230776%, -0.3230997095%);
    }
    4% {
        transform: translate(0.8507340829%, -0.2119426939%);
    }
    6% {
        transform: translate(-1.6132698524%, -0.0418490003%);
    }
    8% {
        transform: translate(-1.101220928%, -0.2672869603%);
    }
    10% {
        transform: translate(-0.9163464172%, 0.3614993851%);
    }
    12% {
        transform: translate(0.8588387034%, -0.367244691%);
    }
    14% {
        transform: translate(1.962543686%, 0.2086288226%);
    }
    16% {
        transform: translate(1.1350185877%, 0.3913003923%);
    }
    18% {
        transform: translate(-0.997275627%, -0.0053614552%);
    }
    20%,
    100% {
        transform: none;
    }
}
.glitch .g::before {
    background: #0f0;
}
.glitch .b::before {
    animation: rgb-shift-b 3s steps(1, jump-end) infinite alternate both;
    background: #00f;
}
@keyframes rgb-shift-b {
    0% {
        transform: translate(0.2992807418%, -0.3858187016%);
    }
    2% {
        transform: translate(-1.4981476404%, 0.4751057348%);
    }
    4% {
        transform: translate(-1.9177179989%, 0.3564703649%);
    }
    6% {
        transform: translate(-0.314072747%, 0.3157915326%);
    }
    8% {
        transform: translate(-1.3514258513%, -0.0703965925%);
    }
    10% {
        transform: translate(-0.8309631075%, -0.2672141657%);
    }
    12% {
        transform: translate(1.8713486316%, -0.4866500128%);
    }
    14% {
        transform: translate(1.6992731549%, 0.2400185256%);
    }
    16% {
        transform: translate(0.3398321943%, -0.4033000245%);
    }
    18% {
        transform: translate(-1.0810281193%, -0.1059225467%);
    }
    20%,
    100% {
        transform: none;
    }
}

/* aタグ用リセットスタイル */
a {
    color: #000;
    text-decoration: none;
}

/* テキストが上下に回転するアニメーション */
.text {
    padding-bottom: 3px;
    font-size: 60px;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 0 1px;
    transition: background-size 0.3s;
}

.text:hover {
    background-position: bottom left;
    background-size: 100% 1px;
}
